<section class="rfss-hme-two mt-0 mt-md-2 mb-md-5 mb-5 pt-5 pb-5 lazyload">
  <div class="container">
    <h1 style="color: transparent;position: absolute;">Refresh Skin Science</h1>
    <div class="d-flex justify-content-sm-evenly justify-content-md-center">
      <picture>
        <source srcset="{{ 'no-harsh-webp.webp' | asset_url }}" type="image/webp">
        <source srcset="{{ 'no-harsh.png' | asset_url }}" type="image/png">
        <img src="{{ 'no-harsh.png' | asset_url }}" alt="{{ block.slide_img_jpg | alt}}" class="w-100 lazyload">
      </picture>
      <picture>
        <source srcset="{{ 'paraben-free-webp.webp' | asset_url }}" type="image/webp">
        <source srcset="{{ 'paraben-free.png' | asset_url }}" type="image/png">
        <img src="{{ 'paraben-free.png' | asset_url }}" alt="{{ block.slide_img_jpg | alt}}" class="w-100 lazyload">
      </picture>
      <picture>
        <source srcset="{{ 'sulphate_free.webp' | asset_url }}" type="image/webp">
        <source srcset="{{ 'sulphate_free.png' | asset_url }}" type="image/png">
        <img src="{{ 'sulphate_free.png' | asset_url }}" alt="{{ block.slide_img_jpg | alt}}" class="w-100 lazyload">
      </picture>
      <picture>
        <source srcset="{{ 'cruelty_free_one.webp' | asset_url }}" type="image/webp">
        <source srcset="{{ 'cruelty_free_one.png' | asset_url }}" type="image/png">
        <img src="{{ 'cruelty_free_one.png' | asset_url }}" alt="{{ block.slide_img_jpg | alt}}" class="w-100 lazyload">
      </picture>
    </div>
    <div class="m-auto mt-2 mt-md-5 pt-5 rfss-hm-two-ctn text-center w-75 d-block d-md-none d-lg-none">
      <img src="{{ 'rfss-mode-hme.jpg' | asset_url }}" class="w-100 lazyload">
      <h2 class="text-white">The only skin care regime you’re ever going to need.</h2>
      <p class="mt-5">Experience the luxury of skincare with Refresh Skin Science.  Tackle your day-to-day skin problems with science backed skincare products designed just for INDIAN SKIN.</p>
      <a href="/collections/all-products"><button class="mt-5">Shop Now <img src="{{ 'right-arrow-thin.svg' | asset_url }}" class="lazyload"></button> </a>
    </div>
    <div class="m-auto mt-2 mt-md-5 pt-5 rfss-hm-two-ctn text-center w-75 d-none d-md-block d-lg-block">
      <h2>The only skin care regime you’re ever going to need.</h2>
      <p class="mt-5">Experience the luxury of skincare with Refresh Skin Science.  Tackle your day-to-day skin problems with science backed skincare products designed just for INDIAN SKIN.</p>
      <a href="/collections/all-products">
        <button class="mt-5">Shop Now <img src="{{ 'right-arrow-thin.svg' | asset_url }}" class="lazyload"></button>
      </a>
    </div>
  </div>
</section>