<div class="find-your-skin-type mb-5 pb-5 pt-5 text-center lazyload">
  <div class="container">
    <h2 class="fs-1 fw-bolder mb-4">Find your skin type</h2>
    <div class="align-items-center d-flex justify-content-center mb-5 skin-type-tick">
      <svg class="lazyload" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.51791 13.4499C4.76644 12.9699 5.0228 12.5243 5.2328 12.0579C5.70359 11.0118 6.14337 9.95204 6.69359 8.94236C8.0095 6.52776 9.55211 4.26907 11.3456 2.18434C12.0015 1.4218 12.7474 0.753557 13.5977 0.203098C14.0978 -0.120641 14.4762 -0.0191963 14.7223 0.240884C15.0554 0.592198 15.099 1.14674 14.7977 1.53448C14.5549 1.84699 14.2928 2.1469 14.0173 2.43149C13.359 3.11131 12.6568 3.75095 12.0281 4.45664C10.7514 5.89015 9.65813 7.46085 8.68211 9.11257C7.84723 10.5253 7.01609 11.9401 6.18359 13.3542C5.93882 13.7699 5.69166 14.1869 5.32587 14.5082C5.14587 14.6662 4.93825 14.8068 4.72041 14.9041C4.32871 15.0791 3.93837 15.0114 3.6261 14.7271C2.5928 13.7872 1.51349 12.8909 0.694282 11.7399C0.414055 11.3464 0.149169 10.9461 0.0254196 10.4719C-0.138898 9.84209 0.523146 9.19086 1.15519 9.35529C1.35258 9.40669 1.50326 9.52277 1.61508 9.68447C1.93724 10.1495 2.25292 10.6193 2.56962 11.088C3.11644 11.8965 3.70928 12.6679 4.40814 13.3532C4.42757 13.3729 4.44973 13.3903 4.51791 13.4499Z" fill="#5E5E5E"/>
      </svg>
      <span class="me-4 ms-2">Every Skin Type</span>
      <svg class="lazyload" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.51791 13.4499C4.76644 12.9699 5.0228 12.5243 5.2328 12.0579C5.70359 11.0118 6.14337 9.95204 6.69359 8.94236C8.0095 6.52776 9.55211 4.26907 11.3456 2.18434C12.0015 1.4218 12.7474 0.753557 13.5977 0.203098C14.0978 -0.120641 14.4762 -0.0191963 14.7223 0.240884C15.0554 0.592198 15.099 1.14674 14.7977 1.53448C14.5549 1.84699 14.2928 2.1469 14.0173 2.43149C13.359 3.11131 12.6568 3.75095 12.0281 4.45664C10.7514 5.89015 9.65813 7.46085 8.68211 9.11257C7.84723 10.5253 7.01609 11.9401 6.18359 13.3542C5.93882 13.7699 5.69166 14.1869 5.32587 14.5082C5.14587 14.6662 4.93825 14.8068 4.72041 14.9041C4.32871 15.0791 3.93837 15.0114 3.6261 14.7271C2.5928 13.7872 1.51349 12.8909 0.694282 11.7399C0.414055 11.3464 0.149169 10.9461 0.0254196 10.4719C-0.138898 9.84209 0.523146 9.19086 1.15519 9.35529C1.35258 9.40669 1.50326 9.52277 1.61508 9.68447C1.93724 10.1495 2.25292 10.6193 2.56962 11.088C3.11644 11.8965 3.70928 12.6679 4.40814 13.3532C4.42757 13.3729 4.44973 13.3903 4.51791 13.4499Z" fill="#5E5E5E"/>
      </svg>
      <span class="me-4 ms-2">Every Concern</span>
      <svg class="lazyload" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.51791 13.4499C4.76644 12.9699 5.0228 12.5243 5.2328 12.0579C5.70359 11.0118 6.14337 9.95204 6.69359 8.94236C8.0095 6.52776 9.55211 4.26907 11.3456 2.18434C12.0015 1.4218 12.7474 0.753557 13.5977 0.203098C14.0978 -0.120641 14.4762 -0.0191963 14.7223 0.240884C15.0554 0.592198 15.099 1.14674 14.7977 1.53448C14.5549 1.84699 14.2928 2.1469 14.0173 2.43149C13.359 3.11131 12.6568 3.75095 12.0281 4.45664C10.7514 5.89015 9.65813 7.46085 8.68211 9.11257C7.84723 10.5253 7.01609 11.9401 6.18359 13.3542C5.93882 13.7699 5.69166 14.1869 5.32587 14.5082C5.14587 14.6662 4.93825 14.8068 4.72041 14.9041C4.32871 15.0791 3.93837 15.0114 3.6261 14.7271C2.5928 13.7872 1.51349 12.8909 0.694282 11.7399C0.414055 11.3464 0.149169 10.9461 0.0254196 10.4719C-0.138898 9.84209 0.523146 9.19086 1.15519 9.35529C1.35258 9.40669 1.50326 9.52277 1.61508 9.68447C1.93724 10.1495 2.25292 10.6193 2.56962 11.088C3.11644 11.8965 3.70928 12.6679 4.40814 13.3532C4.42757 13.3729 4.44973 13.3903 4.51791 13.4499Z" fill="#5E5E5E"/>
      </svg>
      <span class="me-4 ms-2">Every Age</span>
    </div>

       <div class="glide" id="skin_type">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
       {%- for block in section.blocks -%}
          <div class="glide__slide">   
        <div class="p-3">
         <a href="{{ block.settings.link }}">
          {%-liquid 
        assign img_url = block.settings.skintype_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
        assign ration = block.settings.skintype_image.aspect_ratio -%}
        <div class="lazyload__image-wrapper no-js header-logo__image imglazy"><div class="subgallery sub_img" style="padding-top:{{ 1 | divided_by: ration | times: 100}}%;"></div><noscript><img itemprop="image" class="lazy js" src="{{ block.settings.skintype_image | img_url}}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ ration }}" data-sizes="auto" alt="{{ block.settings.skintype_image.alt | default: shop.name | escape }}"></noscript></div>
         </a>
          <a href="{{ block.settings.link }}" class="d-block  fw-bold mb-3 fs-6 mt-3 mt-5 skinlink">{{ block.settings.type_name }}</a>
           
        </div>
      </div>
      {%- endfor -%}
    </div>
    </div>
          
       </div>
  </div>
</div>
<script>
  if(document.querySelector("#skin_type")){new Glide("#skin_type",{type:"slider",bound:true,perView:4,breakpoints:{0:{perView:1.5},300:{perView:1.5},600:{perView:1.5},800:{perView:2.5},1000:{perView:2.5}}}).mount();}
</script>
{% schema %}
  {
    "name": "Your Skin Type",
    "class":"your_skin_type",
    "blocks" : [
    {
      "name" :"Shin Type",
      "type" : "skin_type",
      "settings" : [ 
          {
              "type" : "image_picker",
              "id" : "skintype_image",
              "label" : "Image"        
          },
        {
          "type":"text",
          "id":"type_name",
          "label":"Skin Type Name"
        },
        {
          "type":"url",
          "id":"link",
          "label":"Link"
        }
      ]
    }
    ]
    
  }
{% endschema %}

